:root{
    --rosewater: #FFC2C7;
    --rosewater_border: #cc9b9f;
    --spearmint: #B6E5D8;
    --peach: #FBE5C8;
    --turquoise: #8FDDE7;
    --peach-border: #BEB4AB;
    --spearmint-border: #7FA097;
}

#sssProject li img {
    width: 40%;
}

#sssProject li img:hover{
    width: 75%;
}

.project{
    margin: 5px;
    /*border: 3px solid var(--rosewater_border);*/
    padding: 1em;
    /*background-color: var(--rosewater);*/
    border-radius: 10px;
    /*box-shadow: 5px 2px 5px var(--peach-border), -5px -2px 5px var(--peach-border);*/
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,.8), rgba(255,255,255,.1));
    backdrop-filter: blur(2em);
    border: 3px solid var(--spearmint);
}

.project li:last-of-type{
    list-style-type: none;
}

.project_cards_holder{
    width: 75%;
    /*background-color: var(--peach);
    border: 5px solid var(--peach-border);*/
    background: white;
    background: linear-gradient(to right, #FBE5C8E0, #FBE5C8C0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    /*box-shadow: 5px 2px 5px var(--spearmint-border), -5px -2px 5px var(--spearmint-border);*/
}

.project_body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blackjack_project li img{
    width: 75%;
}

#hotel_sql_project li img:first-of-type{
    width: 75%;
}

#hotel_sql_project li img:first-of-type:hover{
    width: 125%;
}

#hotel_sql_project li img:nth-child(2){
    width: 75%;
}

#hotel_sql_project li img:nth-child(2):hover{
    width: 100%;
}

#hotel_sql_project li img:last-of-type{
    width: 75%;
}

#hotel_sql_project li img:last-of-type:hover{
    width: 100%;
}


