:root{
    --rosewater: #FFC2C7;
    --rosewater_border: #cc9b9f;
    --spearmint: #B6E5D8;
    --peach: #FBE5C8;
    --turquoise: #8FDDE7;
    --peach-border: #BEB4AB;
    --spearmint-border: #7FA097;
}

#sssProject li img {
    width: 40%;
}

.project{
    margin: 5px;
    border: 3px solid var(--rosewater_border);
    padding: 1em;
    background-color: var(--rosewater);
    border-radius: 10px;
    box-shadow: 5px 2px 5px var(--peach-border), -5px -2px 5px var(--peach-border);
}

.project li:last-of-type{
    list-style-type: none;
}

h1 {
    font-size: 3em;
    text-align: left;
    padding-left: 50px;
    width: 100%;
    border-radius: 10px;
    text-decoration: underline;
    text-decoration-color: var(--spearmint-border);
}

.project_cards_holder{
    width: 75%;
    background-color: var(--peach);
    border: 5px solid var(--peach-border);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    box-shadow: 5px 2px 5px var(--spearmint-border), -5px -2px 5px var(--spearmint-border);
}

.project_body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}