:root{
    --rosewater: #FFC2C7;
    --spearmint: #B6E5D8;
    --peach: #FBE5C8;
    --peach-border: #BEB4AB;
    --turquoise: #8FDDE7;
    --spearmint-border: #7FA097;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--spearmint);
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    width: 75%;
}
.navBar{
    display: flex;
    border: 5px solid var(--peach-border);
    border-radius: 5px;
    height: 3em;
    justify-content: space-between;
    background-color: var(--peach);
    box-shadow: 0px 2px 5px var(--spearmint-border);
    
}

.navLinks{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    
}

.navLinks a{
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.navLinks a:visited{
    color: black;
}

